<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <img
    class="logo"
    src="https://sg.com.mx/sites/default/files/styles/570x500/public/images/angular-logo.png?itok=_4hR0cNu"
    alt="logo angular"
  />
  <a class="navbar-item" [routerLink]="['/toDo']" routerLinkActive="activa">Tasks</a>
  <a class="navbar-item" [routerLink]="['/calculate']" routerLinkActive="activa">Calculator</a>
  <a class="navbar-item" [routerLink]="['/cronometro']" routerLinkActive="activa">cronometro</a>

</nav>
