<div class="box">
  <div class="box__content">
    <h3 class="title" *ngIf="!editTask">{{task.title}}</h3>
    <div class="container" *ngIf="editTask">
      <input class="input" type="text" [(ngModel)]="task.title">
    </div>
    <p *ngIf="!editTask">{{task.description}}</p>
    <div class="container" *ngIf="editTask">
      <textarea class="textarea is-small" [(ngModel)]="task.description"></textarea>
    </div>
  </div>
  <div class="box__footer">
    <button class="button is-success" [ngClass]="classnameOne" (click)="onClickEdit()">
      <span>{{labelButtonEditSave}}</span>
      <span class="icon is-small">
        <fa-icon [icon]="iconEdit" *ngIf="!editTask"></fa-icon>
        <fa-icon [icon]="iconSave" *ngIf="editTask"></fa-icon>
      </span>
    </button>
    <button class="button is-danger is-outlined" (click)="onClickDelete()">
      <span>Delete</span>
      <span class="icon is-small">
        <fa-icon [icon]="iconDelete"></fa-icon>
      </span>
    </button>
  </div>
</div>

